Repository cbueth/infomeasure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, coverage, build

test:
  stage: test
  parallel:
  - .pythonVersions
  - parallel
  script:
  - micromamba list
  - pytest tests/
  artifacts:
    expire_in: 1 month

coverage:
  stage: coverage
  coverage: /^TOTAL.+?(\d+\%)$/
  needs: []
  variables:
  - .pythonVersions
  - maxVersion
  script:
  - pytest --cov --cov-report term
  artifacts:
    expire_in: 1 month

build:
  stage: deploy
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
  - mkdir -p dist
  - python -m build
  - twine check dist/*
  - 'twine upload \
  
    --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi \
  
    --non-interactive --skip-existing dist/*
  
    '
  ...

Doc: Change links and reformatting
  docs/conf.py
  docs/demos/Schreiber_Article.ipynb
  docs/demos/gaussian_data.md
  docs/demos/index.md
  docs/demos/lemon_demo.md
  docs/index.md
Due: none

Update logo and icon design
  docs/_static/im_icon_transparent-200x200.png
  docs/_static/im_icon_transparent.png
  docs/_static/im_logo_transparent.png
  docs/_static/im_logo_transparent_dark.png
  docs/conf.py
Due: none

Add Zenodo & Update README.md with logo and
  CITATION.cff
  README.md
  docs/index.md
Due: none

Demo: Correct Schreiber Demo information unit
  docs/demos/Schreiber_Article.ipynb
Due: none

Demo: Change Gaussian axis titles
  docs/demos/gaussian_data.md
Due: none

Add Acknowledgments & Funding
  README.md
  docs/index.md
Due: none

Doc: Add benchmark demo page
  README.md
  docs/_static/custom.js
  docs/conf.py
  docs/demos/Schreiber_Article.ipynb
  docs/demos/Time_Performance.ipynb
  docs/demos/index.md
  docs/demos/lemon_demo.md
  docs/demos/time_data.pkl
  docs/index.md
Due: none

README.md formatting - logos and badges
  README.md
Due: none

WIP: Cross-Entropy
  .gitignore
  docs/guide/introduction.md
  infomeasure/composite_measures/kld.py
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/discrete.py
  infomeasure/estimators/entropy/kernel.py
  infomeasure/estimators/entropy/kozachenko_leonenko.py
  infomeasure/estimators/entropy/ordinal.py
  infomeasure/estimators/entropy/renyi.py
  infomeasure/estimators/entropy/tsallis.py
  infomeasure/estimators/functional.py
  infomeasure/estimators/mutual_information/kernel.py
  infomeasure/estimators/transfer_entropy/kernel.py
  infomeasure/estimators/utils/kde.py
  infomeasure/estimators/utils/unique.py
  tests/composite_measures/test_kld.py
  tests/estimators/entropy/test_ordinal.py
  tests/estimators/test_base.py
  tests/estimators/test_functional.py
Due: test, coverage

Add Cross-Entropy for all approaches
  infomeasure/__init__.py
  infomeasure/composite_measures/kld.py
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/discrete.py
  infomeasure/estimators/entropy/kernel.py
  infomeasure/estimators/entropy/kozachenko_leonenko.py
  infomeasure/estimators/entropy/ordinal.py
  infomeasure/estimators/entropy/renyi.py
  infomeasure/estimators/entropy/tsallis.py
  infomeasure/estimators/functional.py
  infomeasure/estimators/utils/exponential_family.py
  infomeasure/estimators/utils/kde.py
  infomeasure/estimators/utils/unique.py
  tests/composite_measures/test_kld.py
  tests/estimators/entropy/test_discrete.py
  tests/estimators/entropy/test_kernel.py
  tests/estimators/test_base.py
  tests/estimators/test_functional.py
Due: test, coverage

Tests: OS compatibility
  tests/composite_measures/test_kld.py
  tests/estimators/test_functional.py
Due: test, coverage

Handle warnings as errors in pytest and address warnings in code
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/kernel.py
  infomeasure/estimators/entropy/kozachenko_leonenko.py
  infomeasure/estimators/entropy/renyi.py
  infomeasure/estimators/entropy/tsallis.py
  infomeasure/estimators/utils/exponential_family.py
  pyproject.toml
  tests/estimators/entropy/test_kozachenko_leonenko.py
  tests/estimators/entropy/test_renyi.py
  tests/estimators/entropy/test_tsallis.py
  tests/estimators/test_base.py
  tests/estimators/test_functional.py
  tests/estimators/test_p_value.py
Due: test, coverage

Update `changelog.rst`
  docs/changelog.rst
Due: none

Cross-Entropy: Do not allow joint RVs
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/discrete.py
  tests/estimators/test_base.py
Due: test, coverage

Add cross-entropy documentation and integrate into the docs
  docs/getting_started.md
  docs/guide/KLD.md
  docs/guide/cross_entropy/index.md
  docs/guide/estimator_usage.md
  docs/guide/index.md
  docs/guide/introduction.md
  infomeasure/estimators/functional.py
  tests/estimators/entropy/test_kernel.py
  tests/estimators/test_functional.py
Due: test, coverage

Release v0.4.0: Add cross-entropy support, update version, and mark project as stable
  CITATION.cff
  docs/changelog.rst
  docs/conf.py
  docs/demos/Time_Performance.ipynb
  infomeasure/_version.py
  pyproject.toml
Due: test, coverage, build

Doc: Remove RTD pdf version
  docs/.readthedocs.yaml
Due: none

Doc: fix old API
  docs/guide/entropy/kernel.md
  docs/guide/entropy/renyi.md
  docs/guide/entropy/tsallis.md
Due: none

Doc: Separate settings page and add logging section
  docs/guide/estimator_usage.md
  docs/guide/index.md
  docs/guide/settings.md
Due: none

Add arXiv preprint
  README.md
  docs/index.md
Due: none

Add note to presentation and slides.
  docs/index.md
Due: none

Fix MI sign
  docs/guide/mutual_information/discrete.md
  docs/guide/mutual_information/index.md
  docs/guide/mutual_information/kernel.md
  docs/guide/mutual_information/kraskov_stoegbauer_grassberger.md
  docs/guide/mutual_information/ordinal.md
  docs/guide/mutual_information/renyi_tsallis.md
Due: none

README.md dark mode banner support
  README.md
Due: none

Open external links in new tab
  docs/conf.py
Due: none

Doc: Add link to interactive KDE explanation
  docs/guide/entropy/kernel.md
  docs/refs.bib
Due: none

feat!: overhaul statistical testing API with StatisticalTestResult
  docs/api/index.rst
  docs/changelog.md
  docs/getting_started.md
  docs/guide/estimator_usage.md
  docs/guide/introduction.md
  docs/guide/mutual_information/discrete.md
  docs/guide/mutual_information/kernel.md
  docs/guide/mutual_information/kraskov_stoegbauer_grassberger.md
  docs/guide/mutual_information/ordinal.md
  docs/guide/mutual_information/renyi_tsallis.md
  docs/guide/settings.md
  docs/guide/transfer_entropy/discrete.md
  docs/guide/transfer_entropy/kernel.md
  docs/guide/transfer_entropy/kraskov_stoegbauer_grassberger.md
  docs/guide/transfer_entropy/ordinal.md
  docs/guide/transfer_entropy/renyi_tsallis.md
  infomeasure/estimators/base.py
  infomeasure/utils/config.py
  tests/estimators/test_functional.py
  tests/estimators/test_p_value.py
  tests/estimators/test_statistical_testing.py
Due: test, coverage

feat!: add Miller-Madow entropy estimator with comprehensive tests
  docs/changelog.md
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/__init__.py
  infomeasure/estimators/entropy/discrete.py
  infomeasure/estimators/entropy/miller_madow.py
  infomeasure/estimators/functional.py
  tests/conftest.py
  tests/estimators/entropy/test_gaussian_distribution.py
  tests/estimators/entropy/test_miller_madow.py
  tests/estimators/test_functional.py
Due: test, coverage

feat: add local values calculation to Miller-Madow entropy estimator
  infomeasure/estimators/entropy/miller_madow.py
  tests/estimators/entropy/test_miller_madow.py
  tests/estimators/test_functional.py
Due: test, coverage

feat: introduce Miller-Madow MI estimators with corrections and tests
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/discrete.py
  infomeasure/estimators/entropy/miller_madow.py
  infomeasure/estimators/functional.py
  infomeasure/estimators/mutual_information/__init__.py
  infomeasure/estimators/mutual_information/miller_madow.py
  infomeasure/estimators/utils/discrete_interaction_information.py
  tests/conftest.py
  tests/estimators/mutual_information/test_gauss_correlated.py
  tests/estimators/mutual_information/test_miller_madow.py
  tests/estimators/test_functional.py
  tests/estimators/utils/test_discrete_interaction_information.py
Due: test, coverage

feat: add tests for Miller-Madow TE and CTE estimators
  infomeasure/estimators/base.py
  infomeasure/estimators/functional.py
  infomeasure/estimators/transfer_entropy/__init__.py
  infomeasure/estimators/transfer_entropy/miller_madow.py
  infomeasure/estimators/utils/discrete_transfer_entropy.py
  tests/conftest.py
  tests/estimators/transfer_entropy/test_miller_madow.py
  tests/estimators/utils/test_discrete_transfer_entropy.py
Due: test, coverage

feat: extend tests for Miller-Madow estimators in JSD and KLD
  tests/composite_measures/test_jsd.py
  tests/composite_measures/test_kld.py
Due: test, coverage

docs: update changelog with Miller-Madow estimators summary
  docs/changelog.md
Due: none

feat: add Grassberger entropy estimator and associated tests
  docs/refs.bib
  infomeasure/estimators/entropy/__init__.py
  infomeasure/estimators/entropy/grassberger.py
  infomeasure/estimators/functional.py
  infomeasure/utils/exceptions.py
  tests/composite_measures/test_jsd.py
  tests/conftest.py
  tests/estimators/entropy/test_grassberger.py
  tests/estimators/mutual_information/test_miller_madow.py
  tests/estimators/test_functional.py
  tests/estimators/transfer_entropy/test_miller_madow.py
  tests/estimators/utils/test_discrete_transfer_entropy.py
Due: test, coverage

feat: add Shrink entropy estimator and tests
  docs/refs.bib
  infomeasure/estimators/entropy/__init__.py
  infomeasure/estimators/entropy/grassberger.py
  infomeasure/estimators/entropy/shrink.py
  infomeasure/estimators/functional.py
  tests/composite_measures/test_jsd.py
  tests/conftest.py
  tests/estimators/entropy/test_shrink.py
  tests/estimators/test_functional.py
Due: test, coverage

feat: add Chao-Shen entropy estimator and tests
  infomeasure/estimators/entropy/__init__.py
  infomeasure/estimators/entropy/chao_shen.py
  infomeasure/estimators/functional.py
  tests/composite_measures/test_jsd.py
  tests/composite_measures/test_kld.py
  tests/conftest.py
  tests/estimators/entropy/test_chao_shen.py
  tests/estimators/entropy/test_miller_madow.py
  tests/estimators/mutual_information/test_miller_madow.py
  tests/estimators/test_functional.py
  tests/estimators/transfer_entropy/test_miller_madow.py
Due: test, coverage

refactor & fix: centralize discrete data handling and streamline estimators. Fix JSD for discrete entropy estimators
  .gitignore
  docs/guide/entropy/discrete.md
  infomeasure/composite_measures/jsd.py
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/chao_shen.py
  infomeasure/estimators/entropy/discrete.py
  infomeasure/estimators/entropy/grassberger.py
  infomeasure/estimators/entropy/miller_madow.py
  infomeasure/estimators/entropy/ordinal.py
  infomeasure/estimators/entropy/shrink.py
  infomeasure/estimators/mutual_information/discrete.py
  infomeasure/estimators/mutual_information/miller_madow.py
  infomeasure/estimators/transfer_entropy/discrete.py
  infomeasure/estimators/transfer_entropy/miller_madow.py
  infomeasure/estimators/utils/unique.py
  infomeasure/utils/data.py
  tests/composite_measures/test_jsd.py
  tests/composite_measures/test_kld.py
  tests/estimators/entropy/test_gaussian_distribution.py
  tests/estimators/mutual_information/test_gauss_correlated.py
  tests/estimators/test_functional.py
  tests/estimators/test_statistical_testing.py
  tests/utils/test_data.py
Due: test, coverage

feat: add Bayesian entropy estimator with tests and integrations
  docs/changelog.md
  docs/refs.bib
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/__init__.py
  infomeasure/estimators/entropy/bayes.py
  infomeasure/estimators/functional.py
  tests/composite_measures/test_jsd.py
  tests/composite_measures/test_kld.py
  tests/conftest.py
  tests/estimators/entropy/test_bayes.py
  tests/estimators/test_functional.py
Due: test, coverage

feat: Added statistical tests to CMI and CTE +tests refactor: replace `PValueMixin` with `StatisticalTestingMixin` and modularize mixins for transfer entropy
  docs/changelog.md
  docs/guide/estimator_usage.md
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/kernel.py
  infomeasure/estimators/entropy/kozachenko_leonenko.py
  infomeasure/estimators/mixins.py
  infomeasure/estimators/mutual_information/discrete.py
  infomeasure/estimators/mutual_information/kernel.py
  infomeasure/estimators/mutual_information/kraskov_stoegbauer_grassberger.py
  infomeasure/estimators/mutual_information/miller_madow.py
  infomeasure/estimators/mutual_information/ordinal.py
  infomeasure/estimators/mutual_information/renyi.py
  infomeasure/estimators/mutual_information/tsallis.py
  infomeasure/estimators/transfer_entropy/discrete.py
  infomeasure/estimators/transfer_entropy/kernel.py
  infomeasure/estimators/transfer_entropy/kraskov_stoegbauer_grassberger.py
  infomeasure/estimators/transfer_entropy/miller_madow.py
  infomeasure/estimators/transfer_entropy/ordinal.py
  infomeasure/estimators/transfer_entropy/renyi.py
  infomeasure/estimators/transfer_entropy/tsallis.py
  infomeasure/estimators/utils/te_slicing.py
  tests/estimators/mutual_information/test_discrete.py
  tests/estimators/mutual_information/test_gauss_correlated.py
  tests/estimators/mutual_information/test_kernel.py
  tests/estimators/mutual_information/test_kraskov_stoegbauer_grassberger.py
  tests/estimators/mutual_information/test_miller_madow.py
  tests/estimators/mutual_information/test_renyi.py
  tests/estimators/mutual_information/test_tsallis.py
  tests/estimators/test_functional.py
  tests/estimators/test_statistical_testing.py
  tests/estimators/transfer_entropy/test_discrete.py
  tests/estimators/transfer_entropy/test_kernel.py
  tests/estimators/transfer_entropy/test_kraskov_stoegbauer_grassberger.py
  tests/estimators/transfer_entropy/test_miller_madow.py
  tests/estimators/transfer_entropy/test_ordinal.py
  tests/estimators/transfer_entropy/test_renyi.py
  tests/estimators/transfer_entropy/test_tsallis.py
Due: test, coverage

feat: add Chao-Wang-Jost entropy estimator with tests and integrations
  docs/changelog.md
  docs/refs.bib
  infomeasure/estimators/entropy/__init__.py
  infomeasure/estimators/entropy/chao_wang_jost.py
  infomeasure/estimators/functional.py
  tests/composite_measures/test_jsd.py
  tests/conftest.py
  tests/estimators/entropy/test_chao_wang_jost.py
  tests/estimators/test_functional.py
Due: test, coverage

feat: add ANSB entropy estimator with tests and integrations
  docs/changelog.md
  docs/refs.bib
  infomeasure/estimators/entropy/__init__.py
  infomeasure/estimators/entropy/ansb.py
  infomeasure/estimators/functional.py
  tests/conftest.py
  tests/estimators/entropy/test_ansb.py
  tests/estimators/entropy/test_gaussian_distribution.py
  tests/estimators/test_functional.py
Due: test, coverage

Path conditions:
  test: any of: infomeasure/**/*, tests/**/*, pyproject.toml, requirements/**
  coverage: any of: infomeasure/**/*, tests/**/*, pyproject.toml, requirements/**
  build: any of: infomeasure/_version.py
