Repository cbueth/infomeasure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, coverage, build

test:
  stage: test
  parallel:
  - .pythonVersions
  - parallel
  script:
  - micromamba list
  - pytest tests/
  artifacts:
    expire_in: 1 month

coverage:
  stage: coverage
  coverage: /^TOTAL.+?(\d+\%)$/
  needs: []
  variables:
  - .pythonVersions
  - maxVersion
  script:
  - pytest --cov --cov-report term
  artifacts:
    expire_in: 1 month

build:
  stage: deploy
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  script:
  - mkdir -p dist
  - python -m build
  - twine check dist/*
  - 'twine upload \
  
    --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi \
  
    --non-interactive --skip-existing dist/*
  
    '
  ...

Doc: enhance documentation, refactor entropy estimators, and add references
  docs/refs.bib
  infomeasure/estimators/entropy/discrete.py
  infomeasure/estimators/entropy/grassberger.py
  infomeasure/estimators/entropy/kernel.py
  infomeasure/estimators/entropy/kozachenko_leonenko.py
  infomeasure/estimators/entropy/nsb.py
  infomeasure/estimators/utils/kde.py
  tests/estimators/entropy/test_chao_wang_jost.py
  tests/estimators/entropy/test_grassberger.py
Due: test, coverage

feat: add NSB entropy estimator with tests and integrations
  docs/changelog.md
  docs/refs.bib
  infomeasure/estimators/entropy/__init__.py
  infomeasure/estimators/entropy/ansb.py
  infomeasure/estimators/entropy/bayes.py
  infomeasure/estimators/entropy/miller_madow.py
  infomeasure/estimators/entropy/nsb.py
  infomeasure/estimators/functional.py
  tests/composite_measures/test_jsd.py
  tests/conftest.py
  tests/estimators/entropy/test_gaussian_distribution.py
  tests/estimators/entropy/test_nsb.py
  tests/estimators/test_functional.py
Due: test, coverage

feat: add Bonachela and Zhang entropy estimators with tests and integrations
  docs/changelog.md
  docs/refs.bib
  infomeasure/estimators/entropy/__init__.py
  infomeasure/estimators/entropy/bonachela.py
  infomeasure/estimators/entropy/chao_shen.py
  infomeasure/estimators/entropy/chao_wang_jost.py
  infomeasure/estimators/entropy/zhang.py
  infomeasure/estimators/functional.py
  tests/composite_measures/test_jsd.py
  tests/conftest.py
  tests/estimators/entropy/test_bonachela.py
  tests/estimators/entropy/test_zhang.py
  tests/estimators/test_functional.py
Due: test, coverage

fix: JSD for new discrete estimators
  docs/changelog.md
  infomeasure/composite_measures/jsd.py
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/ansb.py
  infomeasure/estimators/entropy/bayes.py
  infomeasure/estimators/entropy/bonachela.py
  infomeasure/estimators/entropy/chao_shen.py
  infomeasure/estimators/entropy/discrete.py
  infomeasure/estimators/entropy/miller_madow.py
  infomeasure/estimators/entropy/ordinal.py
  infomeasure/estimators/entropy/shrink.py
  infomeasure/estimators/entropy/zhang.py
  infomeasure/utils/data.py
  tests/composite_measures/test_jsd.py
  tests/conftest.py
  tests/utils/test_data.py
Due: test, coverage

feat: vectorise Zhang and Bonachela entropy estimators
  infomeasure/estimators/entropy/bonachela.py
  infomeasure/estimators/entropy/zhang.py
  tests/estimators/entropy/test_bonachela.py
  tests/estimators/entropy/test_zhang.py
Due: test, coverage

chore: standardise spelling to British English across codebase and documentation
  docs/changelog.md
  docs/demos/gaussian_data.md
  docs/demos/index.md
  docs/guide/cond_te/index.md
  docs/guide/entropy/index.md
  docs/guide/entropy/ordinal.md
  docs/guide/introduction.md
  docs/guide/mutual_information/kernel.md
  docs/guide/mutual_information/kraskov_stoegbauer_grassberger.md
  docs/guide/mutual_information/ordinal.md
  docs/guide/mutual_information/renyi_tsallis.md
  docs/guide/settings.md
  docs/guide/transfer_entropy/index.md
  infomeasure/estimators/entropy/bayes.py
  infomeasure/estimators/entropy/nsb.py
  infomeasure/estimators/functional.py
  infomeasure/utils/config.py
  tests/estimators/entropy/test_grassberger.py
  tests/estimators/entropy/test_nsb.py
Due: test, coverage

Fix: bayes cross_entropy for `str` inputs
  infomeasure/estimators/entropy/bayes.py
Due: test, coverage

feat: optimize NSB entropy estimator with caching and vectorized computations (2x speedup)
  infomeasure/estimators/entropy/nsb.py
Due: test, coverage

chore: bump version to 0.5.0dev0 and update references for roadmap
  CITATION.cff
  docs/changelog.md
  docs/conf.py
  docs/refs.bib
  infomeasure/_version.py
Due: test, coverage, build

feat: extend ANSB entropy estimator with support for explicit K parameter
  infomeasure/estimators/entropy/ansb.py
  tests/estimators/entropy/test_ansb.py
Due: test, coverage

fix: `_generic_mi_from_entropy` for int and float users
  infomeasure/estimators/base.py
Due: test, coverage

CI: disable GitLab Pages
  .gitlab-ci.yml
Due: none

Version bump `0.5.0`
  CITATION.cff
  docs/conf.py
  docs/guide/estimator_selection.md
  docs/guide/statistical_tests.md
  infomeasure/_version.py
Due: test, coverage, build

Fix: changelog.md date
  docs/changelog.md
Due: none

Update badges in README.md
  README.md
Due: none

Doc: Update benchmarking demo
  docs/demos/Time_Performance-Entropy-0.5.0_approaches.png
  docs/demos/Time_Performance.ipynb
  docs/demos/time_data.pkl
Due: none

Doc: Fix heading in demo
  docs/demos/Time_Performance.ipynb
Due: none

Doc: Expand estimator documentation to include additional mutual information, transfer entropy, and entropy estimators
  infomeasure/estimators/functional.py
Due: test, coverage

Update `CITATION.cff`
  CITATION.cff
Due: none

Citation reference in documentation page.
  docs/index.md
Due: none

CI: Exclude `deploy` job fom scheduled pipelines
  .gitlab-ci.yml
Due: none

CI: Add Python 3.14
  .gitlab-ci.yml
Due: none

Version bump `0.5.1`
  CITATION.cff
  docs/changelog.md
  docs/conf.py
  docs/demos/Time_Performance.ipynb
  infomeasure/_version.py
  pyproject.toml
Due: test, coverage, build

ci: remove package registry and pages build
  .gitlab-ci.yml
Due: none

Corrected Conditional Entropy Formulation in Guide
  docs/guide/cond_entropy/index.md
Due: none

Fixed local conditional entropy formula in guide.
  docs/guide/cond_entropy/index.md
Due: none

feat: Add KSG variant support to mutual information estimators
  docs/guide/mutual_information/kraskov_stoegbauer_grassberger.md
  infomeasure/estimators/mutual_information/kraskov_stoegbauer_grassberger.py
  tests/estimators/mutual_information/test_kraskov_stoegbauer_grassberger.py
Due: test, coverage

feat: Add KSG variant support to Kozachenko-Leonenko entropy estimator
  docs/guide/entropy/kozachenko_leonenko.md
  infomeasure/estimators/entropy/kozachenko_leonenko.py
  tests/estimators/entropy/test_kozachenko_leonenko.py
Due: test, coverage

docs: changelog for upcoming v0.6.0
  docs/changelog.md
Due: none

feat: Add KSG variant support to transfer entropy estimators
  docs/guide/transfer_entropy/kraskov_stoegbauer_grassberger.md
  infomeasure/estimators/transfer_entropy/kraskov_stoegbauer_grassberger.py
  tests/estimators/transfer_entropy/test_kraskov_stoegbauer_grassberger.py
Due: test, coverage

build: add `sphinxcontrib-mermaid` to documentation dependencies
  pyproject.toml
Due: test, coverage

ci: add Dependabot for weekly pip dependency updates
  .github/dependabot.yml
Due: none

chore: set upper and lower package version boundaries
  pyproject.toml
Due: test, coverage

docs: replace align environment with aligned for mathjax
  docs/guide/KLD.md
  docs/guide/cond_mi/index.md
  docs/guide/cond_te/index.md
  docs/guide/mutual_information/discrete.md
  docs/guide/transfer_entropy/renyi_tsallis.md
Due: none

feat: Add support for joint conditional variables to discrete CMI and CTE estimators
  docs/changelog.md
  docs/guide/cond_mi/index.md
  docs/guide/cond_te/index.md
  infomeasure/estimators/mutual_information/discrete.py
  infomeasure/estimators/transfer_entropy/discrete.py
  infomeasure/estimators/utils/discrete_interaction_information.py
  infomeasure/estimators/utils/ordinal.py
  tests/estimators/mutual_information/test_discrete.py
  tests/estimators/transfer_entropy/test_discrete.py
Due: test, coverage

feat: Add `step_size` parameter to ordinal estimators
  infomeasure/estimators/base.py
  infomeasure/estimators/entropy/ordinal.py
  infomeasure/estimators/functional.py
  infomeasure/estimators/mutual_information/ordinal.py
  infomeasure/estimators/mutual_information/renyi.py
  infomeasure/estimators/mutual_information/tsallis.py
  infomeasure/estimators/utils/ordinal.py
Due: test, coverage

Path conditions:
  test: any of: infomeasure/**/*, tests/**/*, pyproject.toml, requirements/**
  coverage: any of: infomeasure/**/*, tests/**/*, pyproject.toml, requirements/**
  build: any of: infomeasure/_version.py
