Repository cbueth/infomeasure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, test

install:
  cache:
    key: ${CI_COMMIT_REF_SLUG}_${PYTHON_VERSION}
    paths:
    - ${MAMBA_ROOT_PREFIX}
    policy: pull-push
  stage: .pre
  parallel:
  - .pythonVersions
  - parallel
  script:
  - if [ ! -d ${MAMBA_ROOT_PREFIX}/conda-meta ]; then cp -r /opt/conda/conda-meta ${MAMBA_ROOT_PREFIX}; fi
  ...

test:
  cache:
    key: ${CI_COMMIT_REF_SLUG}_${PYTHON_VERSION}
    paths:
    - ${MAMBA_ROOT_PREFIX}
    policy: pull
  stage: test
  dependencies:
  - install
  parallel:
  - .pythonVersions
  - parallel
  script:
  - micromamba list
  - pytest tests/
  retry: 2

Set pre-commit tests for merge requests
  .gitlab-ci.yml
Due: none

Remove caching - test job time
  .gitlab-ci.yml
Due: none

Remove pre-commit stage - restructure conditions: coverage always, all three python version only on main
  .gitlab-ci.yml
Due: none

Doc: Update package keywords - and remove duplicate message section from `CITATION.cff`
  CITATION.cff
  pyproject.toml
Due: install, test

Doc: Fix pages deployment
  .gitlab-ci.yml
Due: none

Change to Gitlab repo/url
  CITATION.cff
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: install, test

Activate coverage measuring
  .gitlab-ci.yml
Due: none

CI: Simplify `micromamba` setup
  .gitlab-ci.yml
Due: none

CI: Add package in editable mode - specify job descriptions
  .gitlab-ci.yml
Due: none

Add kernel methods
  docs/conf.py
  infomeasure/estimators/__init__.py
  infomeasure/estimators/kernel.py
  pyproject.toml
Due: install, test

Add metric methods - Kullback-Leibler divergence - Kraskov-Stoegbauer-Grassberger
  infomeasure/estimators/kernel.py
  infomeasure/estimators/metric.py
  infomeasure/utils/normalize.py
Due: none

Add discrete methods
  infomeasure/estimators/discrete.py
Due: none

CI: Wildcards include subdirectories
  .gitlab-ci.yml
Due: none

Unify estimator methods - names - reduce metric routines
  docs/refs.bib
  infomeasure/estimators/discrete.py
  infomeasure/estimators/kernel.py
  infomeasure/estimators/metric.py
Due: none

Doc: Add Docs/API index page
  docs/api/index.rst
Due: none

Doc: Add Kernel and metric estimation doc start
  docs/guide/estimation/discrete_estimation.md
  docs/guide/estimation/kernel_estimation.myst
  docs/guide/estimation/metric_estimation.myst
  docs/guide/index.myst
  docs/refs.bib
  infomeasure/__init__.py
  infomeasure/estimators/__init__.py
  infomeasure/estimators/discrete.py
Due: test

Doc: folder "Entropy" added - Changed Kernel Estimation file type - added example bib entry
  docs/guide/entropy/kernel.md
  docs/guide/estimation/kernel_estimation.md
  docs/refs.bib
Due: none

Doc: Add Estimation Techniques index page Can be removed after restructuring
  docs/guide/estimation/index.myst
Due: none

pre-commit formatting
  docs/guide/entropy/kernel.md
Due: none

Lint/CI: Remove `isort` `ruff` formatter has same functionality
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  requirements.txt
Due: install, test

Restructure package
  infomeasure/__init__.py
  infomeasure/estimators/__init__.py
  infomeasure/estimators/discrete.py
  infomeasure/estimators/kernel.py
  infomeasure/estimators/metric.py
  infomeasure/measures/base.py
  infomeasure/measures/utils/normalize.py
  infomeasure/utils/logging.py
  infomeasure/utils/types.py
  tests/measures/__init__.py
  tests/measures/entropy/__init__.py
  tests/utils/__init__.py
Due: test

Add `Config` class (e.g. global logarithm base)
  infomeasure/utils/config.py
Due: none

Add `Config` class (e.g. global logarithm base)
  infomeasure/__init__.py
  infomeasure/utils/__init__.py
Due: test

Add discrete methods
  infomeasure/__init__.py
  infomeasure/measures/entropy/__init__.py
  infomeasure/measures/entropy/discrete.py
  infomeasure/measures/mutual_information/__init__.py
  infomeasure/measures/mutual_information/discrete.py
  infomeasure/measures/transfer_entropy/__init__.py
  infomeasure/measures/transfer_entropy/discrete.py
Due: test

Add kernel methods
  infomeasure/measures/entropy/kernel.py
  infomeasure/measures/mutual_information/kernel.py
  infomeasure/measures/transfer_entropy/kernel.py
  infomeasure/measures/utils/__init__.py
  infomeasure/measures/utils/kde.py
Due: none

Add metric methods
  infomeasure/measures/entropy/kozachenko_leonenko.py
  infomeasure/measures/mutual_information/kraskov_stoegbauer_grassberger.py
  infomeasure/measures/transfer_entropy/kraskov_stoegbauer_grassberger.py
Due: none

Test config functionality
  tests/test_load_package.py
  tests/utils/test_config.py
Due: test

Add functional methods to access the estimator classes
  docs/conf.py
  infomeasure/__init__.py
  infomeasure/measures/__init__.py
  infomeasure/measures/functional.py
  tests/estimators/__init__.py
Due: test

Add explicit tests for discrete entropy
  tests/measures/entropy/test_discrete.py
Due: none

Modify package version: skip on powershell
  .pre-commit-config.yaml
Due: none

Unify methods and add functionality to base class
  infomeasure/measures/base.py
  infomeasure/measures/entropy/discrete.py
  infomeasure/measures/entropy/kernel.py
  infomeasure/measures/entropy/kozachenko_leonenko.py
  infomeasure/measures/functional.py
  infomeasure/measures/mutual_information/discrete.py
  infomeasure/measures/mutual_information/kernel.py
  infomeasure/measures/mutual_information/kraskov_stoegbauer_grassberger.py
  infomeasure/measures/transfer_entropy/discrete.py
  infomeasure/measures/transfer_entropy/kernel.py
  infomeasure/measures/transfer_entropy/kraskov_stoegbauer_grassberger.py
  infomeasure/utils/config.py
Due: none

Add P-Values to MI and TE Kernel estimators
  infomeasure/measures/base.py
  infomeasure/measures/mutual_information/kernel.py
  infomeasure/measures/transfer_entropy/kernel.py
Due: none

Fix array dtype and debug log
  infomeasure/measures/base.py
  infomeasure/measures/entropy/kozachenko_leonenko.py
  infomeasure/measures/functional.py
  infomeasure/measures/mutual_information/kraskov_stoegbauer_grassberger.py
  infomeasure/measures/transfer_entropy/kraskov_stoegbauer_grassberger.py
Due: none

Add P-Value and Effective TE to remaining classes
  infomeasure/measures/entropy/discrete.py
  infomeasure/measures/entropy/kernel.py
  infomeasure/measures/mutual_information/discrete.py
  infomeasure/measures/transfer_entropy/discrete.py
  infomeasure/measures/transfer_entropy/kernel.py
Due: none

Test: Add Functional addressing and p-values
  infomeasure/__init__.py
  infomeasure/measures/__init__.py
  infomeasure/measures/entropy/__init__.py
  infomeasure/measures/mutual_information/__init__.py
  infomeasure/measures/transfer_entropy/__init__.py
  tests/conftest.py
  tests/measures/test_functional.py
  tests/measures/test_p_value.py
Due: test

Convert estimator data to numpy array Compatability with python lists
  infomeasure/__init__.py
  infomeasure/measures/base.py
  infomeasure/measures/mutual_information/kraskov_stoegbauer_grassberger.py
Due: test

Doc: Improve API documentation
  docs/getting_started.md
  infomeasure/measures/base.py
  infomeasure/measures/entropy/discrete.py
  infomeasure/measures/entropy/kernel.py
  infomeasure/measures/entropy/kozachenko_leonenko.py
  infomeasure/measures/functional.py
  infomeasure/measures/mutual_information/discrete.py
  infomeasure/measures/mutual_information/kernel.py
  infomeasure/measures/mutual_information/kraskov_stoegbauer_grassberger.py
  infomeasure/measures/transfer_entropy/discrete.py
  infomeasure/measures/transfer_entropy/kernel.py
  infomeasure/measures/transfer_entropy/kraskov_stoegbauer_grassberger.py
Due: none

Fix effective TE & Improve debug logger message - removed unused instance attribute
  infomeasure/measures/base.py
Due: none

Add class addressing - test approach - add tests for error raising in functional.py
  infomeasure/measures/functional.py
  tests/measures/entropy/test_discrete.py
  tests/measures/test_functional.py
Due: none

Improve functional signature of quick access estimator
  infomeasure/measures/functional.py
  tests/measures/test_functional.py
Due: none

Path conditions:
  install: any of: requirements.txt, pyproject.toml
  test: any of: infomeasure/**, tests/**, pyproject.toml, requirements.txt
